html, body {
    max-width: 100%;
    overflow-x: hidden;
}
		#header-con{
			background-color:#f4b8da;
		}
		#banner-con{
			background-color:#f9cee7;
		}
		#highlight-con{
			background-color:#fde4f2;
		}
		#footer-con{
		background-color:#f9cee7;
		}

		#collections-con{
			border-bottom:5px solid #f9cee7;
			background-color:#f4b8da;
		}
		#collections2-con{
			background-color:#f9cee7;
		}
    .birthdaybuttons{
      background: #dc228b;
      border: 1px solid #fde4f2;
      color: #fde4f2;
      border-radius: 5px;
    }
		@media only screen and (min-width: 760px) {
			.collectionsitem{
				
			}
		}


#birthdaysections{
	border-top: 1px solid #f9cee7;
}

